.newsarticle > ul {
  list-style: none;
}

.newsarticle > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  width: 100%;
  display: flex;
}

.newsarticle .newsarticle-card-body {
  margin: 16px;
  width: 50%;
}

.newsarticle .newsarticle-card-image {
  line-height: 0;
  width: 50%;
}

.newsarticle > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
