.carousel .carousel-slides-container {
    position: relative;
  }
  
  .carousel .carousel-slides,
  .carousel .carousel-slide-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel .carousel-slides {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: scroll clip;
  }
  
  .carousel .carousel-slides::-webkit-scrollbar {
    display: none;
  }
  
  .carousel .carousel-slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: min(50vw, calc(100dvh - var(--nav-height)));
  }
  
  .carousel .carousel-slide:has(.carousel-slide-content[data-align='center']) {
    align-items: center;
  }
  
  .carousel .carousel-slide:has(.carousel-slide-content[data-align='right']) {
    align-items: flex-end;
  }
  
  .carousel .carousel-slide .carousel-slide-image picture {
    position: absolute;
    inset: 0;
  }
  
  .carousel .carousel-slide .carousel-slide-image picture > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .carousel .carousel-slide .carousel-slide-content {
    z-index: 1;
    margin: 68px;
    padding: 16px;
    color: white;
    background-color: rgb(19 19 19 / 75%);
    position: relative;
    width: var(--slide-content-width, auto);
  }
  
  .carousel .carousel-slide-indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px 12px;
    padding: 12px;
    background-color: var(--light-color);
    line-height: 0;
  }
  
  .carousel .carousel-slide-indicator button {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #8F8F8F;
    transition: background-color 0.2s;
  }
  
  .carousel .carousel-slide-indicator button:disabled,
  .carousel .carousel-slide-indicator button:hover,
  .carousel .carousel-slide-indicator button:focus-visible {
    background-color: var(--text-color);
  }
  
  .carousel .carousel-navigation-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  
  /* stylelint-disable-next-line no-descending-specificity */
  .carousel .carousel-navigation-buttons button {
    position: relative;
    width: 44px;
    height: 44px;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    background-color: rgb(19 19 19 / 25%);
    transition: background-color 0.2s;
  }
  
  .carousel .carousel-navigation-buttons button:hover,
  .carousel .carousel-navigation-buttons button:focus-visible {
    background-color: rgb(19 19 19 / 75%);
  }
  
  .carousel .carousel-navigation-buttons button::after {
    display: block;
    content: '';
    border: 2px solid;
    border-bottom: 0;
    border-left: 0;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  
  .carousel .carousel-navigation-buttons button.slide-next::after {
    transform: translate(-50%, -50%) rotate(45deg);
    left: calc(50% - 2px);
  }

  .section.homepage-carousel .carousel-slide-content h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .section.homepage-carousel .carousel-slide-content a {
    padding: 15px 40px 15px 40px;
    border: 1px solid #0659D4;
    border-radius: 5px;
    background-color: #0659d4;
    color: white;
    /* margin-top: 30px; */
    text-decoration: none;
  }

  .section.homepage-carousel .carousel-slide-content p:first-of-type {
    width: 62%;
  }
  .section.homepage-carousel .carousel-slide-content p:last-of-type {
    margin-top: 30px;
  }

  .section.homepage-carousel .carousel nav {
    display: none;
  }

  .section.homepage-carousel .carousel-navigation-buttons button {
    width: auto;
    height: auto;
    padding: 15px 20px;
    border-radius: 5px;
    transition: .5s;
    opacity: 0;
    border-color: transparent;
    background-color: transparent;
    font-size: 16px;
  }

  .section.homepage-carousel .carousel:hover .carousel-navigation-buttons button {
    opacity: 1;
  }

  .section.homepage-carousel .carousel-navigation-buttons button:hover {
    padding: 20px 25px;
    background-color: #ffffff;
  }

  .section.homepage-carousel .carousel-navigation-buttons button:hover::after {
    color: #051C3A;
  }

  .section.homepage-carousel .carousel-navigation-buttons button::after {
    color: #ffffff;
  }
  
  @media (width >= 600px) {
    .carousel .carousel-navigation-buttons {
      left: 24px;
      right: 24px;
    }
  
    .carousel .carousel-slide .carousel-slide-content {
      --slide-content-width: calc((100% - 184px) / 2);
  
      margin: 92px;
    }

    .section.homepage-carousel .carousel .carousel-slide .carousel-slide-content {
        --slide-content-width: 90.29%;
        margin: 0 auto;
    }
  
    .carousel .carousel-slide .carousel-slide-content[data-align='justify'] {
      --slide-content-width: auto;
    }

    .key-achievements .carousel .carousel-slide .carousel-slide-content {
      margin: 0;
      padding: 50px 0;
    }

    .key-achievements .carousel .carousel-slide .carousel-slide-content > ul {
      display: flex;
      height: 100%;
      margin: 0 auto;
      gap: 20px;
    }

    .key-achievements .carousel .carousel-slide .carousel-slide-content > ul > li {
      width: 25%;
      text-align: center;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
  }
  .section.homepage-carousel .carousel-wrapper .carousel-slide-content {
    background-color: transparent;
  }

  
  @media (width >= 900px) {
  .section.homepage-carousel .carousel-wrapper {
    max-width: min(100%,var(--width));
    margin: 0 auto;
    padding: 0;
  }
  .section.homepage-carousel .carousel-slide-content p:first-of-type {
    margin-top: 0px;
    font-size: 75px;
    font-weight: 500;
    line-height: 90px;
  }
  .section.brand-carousel .carousel-wrapper {
    max-width: min(100%,var(--width));
    margin: 0 auto;
    padding: 0;
  }
  .section.key-achievements .carousel-wrapper {
    max-width: min(100%,var(--width));
    margin: 0 auto;
    padding: 0;
  }
}

.brand-carousel .carousel .carousel-slides {
  gap: 1%;
  background-color: #0659d4;
  max-height: 200px;
}

.brand-carousel .carousel .carousel-slide {
  flex: 0 0 19%;
}

.brand-carousel .carousel .carousel-navigation-buttons,
.brand-carousel .carousel .carousel-slide-indicators {
  display: none;
}

.brand-carousel .carousel .carousel-slide .carousel-slide-image picture > img {
  object-fit: none;
  max-height: 200px;
}


.feedback-carousel .carousel .carousel-navigation-buttons,
.feedback-carousel .carousel .carousel-slide-indicators {
  display: none;
}

.feedback-carousel .carousel .carousel-navigation-buttons {
  display: none;
}

.feedback-carousel .carousel .carousel-slide .carousel-slide-image picture > img {
  width: 63px;
  height: 63px;
}

.feedback-carousel .carousel .carousel-slide {
  align-items: center;
}

.feedback-carousel .carousel .carousel-slide .carousel-slide-image picture {
  position: relative;
}

.feedback-carousel .carousel .carousel-slide .carousel-slide-content {
  margin: 20px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  width: 80%;
}

.feedback-carousel .carousel .carousel-slide .carousel-slide-content h4:first-of-type {
  color: #0659D4;
}

.feedback-carousel .carousel .carousel-slide {
  min-height: auto;
}

.key-achievements .carousel-slide-content {
  width: 100% !important;
  height: 100%;
}

.key-achievements .carousel-slide-content ul {
  list-style: none;
}

.key-achievements .carousel .carousel-slide .carousel-slide-content {
  opacity: 0.9;
  background-color: #0659d4;
}

.key-achievements .carousel .carousel-slide .carousel-slide-content > ul > li h3 {
  color: #FFFFFF;
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1;
}

.key-achievements .carousel .carousel-slide .carousel-slide-content > ul > li h2 {
  font-size: 18.03px;
}

.key-achievements .carousel .carousel-slide {
  min-height: auto;
}
